﻿@using SP18.PF.Web.Areas.Admin.Models.Tours
@model IEnumerable<SP18.PF.Web.Areas.Admin.Models.Tours.TourViewModel>
@{
    ViewData["Title"] = "Tours Listing";
}
<body background="http://biteinto.info/wp-content/uploads/2016/02/grey-wood-flooring-texture-and-european-oak-grey-texture-image-5444-on-cadnav-17.jpg">
    <h2>Tours</h2>
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </body>