﻿.jumbotron {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5));
}

.jumbotron.promo{
    background: white;
    vertical-align: top;
    height: 600px;
    width: 650px;
}

.upcoming{
    text-align: center;
    font-size: 30px;
}

.col-sm-2 {
    background-color: darkgray;
    border-collapse: collapse;
}

.col-sm-4 {
    background-color: darkgray;
}

.price{
    margin-left: 10px;
}

.pg {
    border-bottom: 1px groove black;
}


.img {
    border: 1px solid white;
}

.validate {
    color: red;
    font-size: 12px;
}

.logval {
    color: red;
    font-size: 14px;
}

.textcolor {
    color: white;
}

.textgold {
    color: white;
}

.active {
    text-decoration: none;
    color: turquoise;
}

.headcontainer{
    margin: 0px;
    padding: 0px;
}

.panel.head {
    margin: 0px;
    padding: 0px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.65));
}

.divmargin{
    padding-left: 0px;
    margin: 0px;
}

.media-heading.list{
    color: orange;
}

.badge.badgecolor{
    background-color:  white;
    color: black;
}

.datecolor{
    color: orange;
}

.well.Tupac {
    background-image: url(http://cdn1.bigcommerce.com/server3900/1nnvjdwl/product_images/uploaded_images/tupac-banner.jpg);
}

.well.The.Floozies {
    background-image: url(https://dsd7huazccen8.cloudfront.net/assets/images/artists/thumbs/1489093946.png);
}

.well.Saliva {
    background-image: url(https://i49.vbox7.com/o/689/6891a6c60.jpg);
}

.well.Citizen.Cope {
    background-image: url(https://www.blumenthalarts.org/assets/img/Citizen-Cope_1000-091fdfa407.jpg);
}

.well.Dirty.Heads {
    background-image: url(https://media0.giphy.com/headers/dirtyheads/yBG9jjwgUB5n.jpg);
}

.well.Hopsin {
    background-image: url(http://rapradar.com/wp-content/uploads/2016/03/Screen-Shot-2016-03-08-at-9.03.01-PM-630x320.png);
}

.well.Papadosio {
    background-image: url(http://worldfamousparty.com/wp-content/uploads/2017/07/phutrpop-900x350-banner.jpg);
}

.well.Linkin.Park {
    background-image: url(http://www.f-covers.com/cover/linkin-park-7-facebook-cover-timeline-banner-for-fb.jpg);
}

.homemessage {
    color: rgb(0, 204, 153);
    text-align: center;
    font-size: 50px;
    font-family: Harrington;
}
