﻿.well {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.65)) ;
}


.textc {
    color: white;
    font: 600; 
}

.test {
    padding-left: 0px;
    margin-right: 8px;
    padding-right: 8px;
}

hr.shorter{
    margin-right: 30px;
}
