﻿/*body {
    background-image: url(http://biteinto.info/wp-content/uploads/2016/02/grey-wood-flooring-texture-and-european-oak-grey-texture-image-5444-on-cadnav-17.jpg);
}*/

/*body {
    background-image: url(http://1.bp.blogspot.com/-lDLpfJGW2bE/UC6M3hpwzqI/AAAAAAAAHpU/_9GBHhMH0Co/s1600/Purple+Abstract+Wallpapers+3.jpg);
}*/

/*body {
    background-image: url(https://mobileimages.lowes.com/product/converted/722603/722603001993.jpg);
    background-attachment: fixed;
}*/

body {
    background-image: url(http://www.zastavki.com/pictures/originals/2014/Space_Emerald_marble_080724_.jpg);
    background-attachment: fixed;
}

.panel-body {
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.panel{
    background: center;
}

.headd {
    width: 200%;
    height: 200px;
}

.navbar-default {
    background-color: red;
}

