﻿.modal {
    border-radius: 15px;
}

.modal-container {
    padding: 15px;
}

.modal-header {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-width: 5px;
    background-color: rgb(0, 204, 153);
    color: white;
    text-align: center;
}