﻿.navbar li .glyphicon {
    margin-right: 10px;
}

/* Highlighting rules for nav menu items */
.navbar .navbar-nav .active a,
.navbar .navbar-nav .active a:focus,
.navbar .navbar.nav .active :hover{
    background-image: none;
    background-color: rgb(204, 102, 0);
    color: rgb(0, 204, 122);
   
}


hr.style-seven {
    overflow: visible; /* For IE */
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 5px 0 0 0;
    border-radius: 20px;
}

hr.style-two {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(255, 255, 255), rgba(0, 0, 0, 0));
}

@media (min-height: 650px) {
    .carousel {
        width: 475px;
        height: 700px;
    }
}

.carousel.sponsored1{
    width: 650px;
    height: 250px;

}

.carousel.sponsored2 {
    width: 650px;
    height: 400px;
}

.sponsored{
    height: 250px;
}

.sponsored2{
    height: 400px;
}

@media (min-width: 768px) {
    /* On large screens, convert the nav menu to a vertical sidebar */
    .navbar {
        height: 100%;
        width: calc(25% - 20px);
    }
    .navbar {
        border-radius: 0;
        border-width: 0;
        height: 100%;
    }
    .navbar-header {
        float: none;
        color: rgb(0, 204, 122);
    }

    .navbar .navbar-collapse {
        padding: 0;
    }
    .navbar .container-fluid {
        padding: 0;
        margin: 0;
    }
    .navbar .container-fluid .navbar-brand {
        margin: 0;
        font-size: 30px;
        font-family: Harrington;
        background-color: rgb(204, 102, 0);
        color: rgb(0, 204, 153);
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
        border-bottom-width: 5px;
    }
    .navbar ul {
        float: none;
    }
    .navbar li {
        float: none;
        font-size: 15px;
        margin: 6px;
    }

    .navbar li a {
        border-radius: 4px;
    }
    .navbar a {
        /* If a menu item's text is too long, truncate it */
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }


    .bottom {
        margin-top: 120%;
    }

    .bcolor {
        background-color: black;
    }
}

.tabs-title{
    color: white;
    background-color: aqua;
}
 .pills {
     color: white;
     background-color: aqua;
 }

 .media.medial{
    margin-left: 15px;
 }

.panel.welcomepanel {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.65));
}
